<IfModule mod_rewrite.c>
    RewriteEngine On #Se Habilita o Desahabilita el entrono del motor de re-escritura
    RewriteBase /sistemaDeInformacion/public #Directorio base o root del sistema
    RewriteCond %{REQUEST_FILENAME} !-d 
    ReweiteCond %{REQUEST_FILENAME} !-f
    
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
<IfModule>